*{
    font-family: 'Braah One', sans-serif;
    color: #FCD116;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    background-color: #000000;
    height: 100%;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.clear{
    clear: both;
}

header{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    padding: 10px;
    position: fixed;
    background-color: #FF4500;
    z-index: 2;
}

.logo{
    width: 15%;
    height: 100%;
    background-image: url('../fotos/PACMAN_titulo.png');
    background-size: 100% 100%;
    cursor: pointer;
}

.menu-desk{
    width: 85%;
    display: flex;
}

.menu-desk ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    list-style: none;
}

.menu-desk ul li{
    font-size: 20px;
    cursor: pointer;
}

@keyframes mudarCor {
    0% {
        background-image: linear-gradient(to right, #FF0000, #FCD116, #FCD116, #FCD116, #FCD116, #FCD116);
    }
    2.5% {
        background-image: linear-gradient(to right, #FF0000, #FF0000, #FCD116, #FCD116, #FCD116, #FCD116);
    }
    5% {
        background-image: linear-gradient(to right, #FF0000, #FF0000, #FF0000, #FCD116, #FCD116, #FCD116);
    }
    7.5% {
        background-image: linear-gradient(to right, #FF0000, #FF0000, #FF0000, #FF0000, #FCD116, #FCD116);
    }
    10% {
        background-image: linear-gradient(to right, #FF0000, #FF0000, #FF0000, #FF0000, #FF0000, #FCD116);
    }
    12.5% {
        background-image: linear-gradient(to right, #FF0000, #FF0000, #FF0000, #FF0000, #FF0000, #FF0000);
    }
    15% {
        background-image: linear-gradient(to right, #FF0000, #FF0000, #FF0000, #FF0000, #FF0000, #FF0000);
    }
    17.5%{
        background-image: linear-gradient(to right, #FFB8FF, #FF0000, #FF0000, #FF0000, #FF0000, #FF0000);
    }
    20% {
        background-image: linear-gradient(to right, #FFB8FF, #FFB8FF, #FF0000, #FF0000, #FF0000, #FF0000);
    }
    22.5%{
        background-image: linear-gradient(to right, #FFB8FF, #FFB8FF, #FFB8FF, #FF0000, #FF0000, #FF0000);
    }
    25%{
        background-image: linear-gradient(to right, #FFB8FF, #FFB8FF, #FFB8FF, #FFB8FF, #FF0000, #FF0000);
    }
    27.5%{
        background-image: linear-gradient(to right, #FFB8FF, #FFB8FF, #FFB8FF, #FFB8FF, #FFB8FF, #FF0000);
    }
    30%{
        background-image: linear-gradient(to right, #FFB8FF, #FFB8FF, #FFB8FF, #FFB8FF, #FFB8FF, #FFB8FF);
    }
    32.5%{
        background-image: linear-gradient(to right, #FFB8FF, #FFB8FF, #FFB8FF, #FFB8FF, #FFB8FF, #FFB8FF);
    }
    35%{
        background-image: linear-gradient(to right, #FFA07A, #FFB8FF, #FFB8FF, #FFB8FF, #FFB8FF, #FFB8FF);
    }
    37.5%{
        background-image: linear-gradient(to right, #FFA07A, #FFA07A, #FFB8FF, #FFB8FF, #FFB8FF, #FFB8FF);
    }
    40%{
        background-image: linear-gradient(to right, #FFA07A, #FFA07A, #FFA07A, #FFB8FF, #FFB8FF, #FFB8FF);
    }
    42.5%{
        background-image: linear-gradient(to right, #FFA07A, #FFA07A, #FFA07A, #FFA07A, #FFB8FF, #FFB8FF);
    }
    45%{
        background-image: linear-gradient(to right, #FFA07A, #FFA07A, #FFA07A, #FFA07A, #FFA07A, #FFB8FF);
    }
    47.5%{
        background-image: linear-gradient(to right, #FFA07A, #FFA07A, #FFA07A, #FFA07A, #FFA07A, #FFA07A);
    }
    50%{
        background-image: linear-gradient(to right, #FFA07A, #FFA07A, #FFA07A, #FFA07A, #FFA07A, #FFA07A);
    }
    52.5%{
        background-image: linear-gradient(to right, #00FFFF, #FFA07A, #FFA07A, #FFA07A, #FFA07A, #FFA07A);
    }
    55%{
        background-image: linear-gradient(to right, #00FFFF, #00FFFF, #FFA07A, #FFA07A, #FFA07A, #FFA07A);
    }
    57.5%{
        background-image: linear-gradient(to right, #00FFFF, #00FFFF, #00FFFF, #FFA07A, #FFA07A, #FFA07A);
    }
    60%{
        background-image: linear-gradient(to right, #00FFFF, #00FFFF, #00FFFF, #00FFFF, #FFA07A, #FFA07A);
    }
    62.5%{
        background-image: linear-gradient(to right, #00FFFF, #00FFFF, #00FFFF, #00FFFF, #00FFFF, #FFA07A);
    }
    65%{
        background-image: linear-gradient(to right, #00FFFF, #00FFFF, #00FFFF, #00FFFF, #00FFFF, #00FFFF);
    }
    67.5%{
        background-image: linear-gradient(to right, #00FFFF, #00FFFF, #00FFFF, #00FFFF, #00FFFF, #00FFFF);
    }
    70%{
        background-image: linear-gradient(to right, #FFB852, #00FFFF, #00FFFF, #00FFFF, #00FFFF, #00FFFF);
    }
    72.5%{
        background-image: linear-gradient(to right, #FFB852, #FFB852, #00FFFF, #00FFFF, #00FFFF, #00FFFF);
    }
    75%{
        background-image: linear-gradient(to right, #FFB852, #FFB852, #FFB852, #00FFFF, #00FFFF, #00FFFF);
    }
    77.5%{
        background-image: linear-gradient(to right, #FFB852, #FFB852, #FFB852, #FFB852, #00FFFF, #00FFFF);
    }
    80%{
        background-image: linear-gradient(to right, #FFB852, #FFB852, #FFB852, #FFB852, #FFB852, #00FFFF);
    }
    82.5%{
        background-image: linear-gradient(to right, #FFB852, #FFB852, #FFB852, #FFB852, #FFB852, #FFB852);
    }
    85%{
        background-image: linear-gradient(to right, #FFB852, #FFB852, #FFB852, #FFB852, #FFB852, #FFB852);
    }
    87.5%{
        background-image: linear-gradient(to right, #111111, #FFB852, #FFB852, #FFB852, #FFB852, #FFB852);
    }
    90%{
        background-image: linear-gradient(to right, #111111, #111111, #FFB852, #FFB852, #FFB852, #FFB852);
    }
    92.5%{
        background-image: linear-gradient(to right, #111111, #111111, #111111, #FFB852, #FFB852, #FFB852);
    }
    95%{
        background-image: linear-gradient(to right, #111111, #111111, #111111, #111111, #FFB852, #FFB852);
    }
    97.5%{
        background-image: linear-gradient(to right, #111111, #111111, #111111, #111111, #111111, #FFB852);
    }
    100%{
        background-image: linear-gradient(to right, #111111, #111111, #111111, #111111, #111111, #111111);
    }
}

.menu-desk ul li:hover{
    border-radius: 10px;
    background-clip: text;
    -webkit-background-clip: text; /* para suporte ao Safari/WebKit */
    color: transparent;
    animation: mudarCor 1s ease-in-out infinite;
    
}

section{
    position: relative;
    top: 10vh;
    width: 100%;
    height: 90%;
    background-image: url('../fotos/gif_gameplay.gif');
    background-size: cover;
    background-position: center;
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: #00000087;
    backdrop-filter: blur(15px);
}

.gif-jogo{
    width: 100%;
    height: 75vh;
    background-image: url('../fotos/gif_gameplay.gif');
    background-position: center;
    background-size: cover;
    position: relative;
    top: 9vh;
}

.logo-chamada{
    width: 96%;
    height: 104%;
    border: solid #FF4500 2px;
    position: relative;
    bottom: 2%;
    left: 2%;
}

.mini-logo{
    width: 25%;
    height: 15%;
    background-image: url("../fotos/PACMAN_titulo.png");
    background-position: center;
    background-size: 100% 100%;
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.botao-chamada{
    font-size: 20px;
    width: 15%;
    height: 10%;
    background-color: #FF4500;
    cursor: pointer;
    border: none;
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    padding-top: 1%;
}

.botao-chamada:hover{
    border: solid #FF8C00 3px;
}

section:nth-of-type(2), section:nth-of-type(3), section:nth-of-type(4), section:nth-of-type(5), section:nth-of-type(6){
    border: 50px solid #00000000;
    text-align: center;
    height: auto;
    padding: 10px;
    background-image: none;
}

section:nth-of-type(2) p:nth-of-type(-n+2){
    margin-top: 30px;
    font-size: 16px;
    color: white;
    text-align: justify;
}

section:nth-of-type(2) p:nth-of-type(3){
    margin-top: 30px;
    font-size: 16px;
    color: white;
}

h3{
    margin: 20px 0;
}

.prints{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.print{
    width: 48%;
    height: 40vh;
    background-size: cover;
}

.print:nth-of-type(1){
    background-image: url('../fotos/img_readme4.png');
}

.print:nth-of-type(2){
    background-image: url('../fotos/img_readme5.png');
}

video{
    margin: 20px;
    border: solid #FF4500 2px;
    width: 80%;
    height: 35%;
}

#log-table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

#log-table th,
#log-table td {
    border: 1px solid #FF4500;
    padding: 8px;
    text-align: justify;
}

#log-table th{
    text-align: center;
}

#log-table td{
    color: white;
}

#log-table th {
    background-color: #FF4500;
}

section:nth-of-type(4) .container{
    text-align: center;
}

section:nth-of-type(4) .container-desenvolvedores{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

section:nth-of-type(4) .desenvolvedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar{
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    margin-bottom: 10px;
}

.mateus{
    background-image: url('../fotos/foto_avatar_mateus.jpg');
    background-size: cover;
    background-position: center;
}

.giovanny{
    background-image: url('../fotos/foto_avatar_giovanny.jpg');
    background-size: cover;
    background-position: center;
}

section:nth-of-type(4) .descricao{
    padding: 10px;
}

section:nth-of-type(4) .descricao p{
    color: white;
    text-align: justify;
}

section:nth-of-type(4) i{
    font-size: 30px;
    margin: 20px;
}

@keyframes balanca{
    0% {
        background-clip: text;
        -webkit-background-clip: text; /* para suporte ao Safari/WebKit */
        color: transparent;
    }
    10% {
        transform: rotate(15deg);
        background-image: linear-gradient(to top, #0A66C2, white,white,white,white,white,white,white,white,white);
    }
    20% {
        transform: rotate(30deg);
        background-image: linear-gradient(to top, #0A66C2, #0A66C2,white,white,white,white,white,white,white,white);
    }
    30% {
        transform: rotate(45deg);
        background-image: linear-gradient(to top, #0A66C2, #0A66C2,#0A66C2,white,white,white,white,white,white,white);
    }
    40% {
        transform: rotate(30deg);
        background-image: linear-gradient(to top, #0A66C2, #0A66C2,#0A66C2,#0A66C2,white,white,white,white,white,white);
    }
    50% {
        transform: rotate(15deg);
        background-image: linear-gradient(to top, #0A66C2, #0A66C2,#0A66C2,#0A66C2,#0A66C2,white,white,white,white,white);
    }
    60% {
        transform: rotate(-15deg);
        background-image: linear-gradient(to top, #0A66C2, #0A66C2,#0A66C2,#0A66C2,#0A66C2,#0A66C2,white,white,white,white);
    }
    70% {
        transform: rotate(-30deg);
        background-image: linear-gradient(to top, #0A66C2, #0A66C2,#0A66C2,#0A66C2,#0A66C2,#0A66C2,#0A66C2,white,white,white);
    }
    80% {
        transform: rotate(-45deg);
        background-image: linear-gradient(to top, #0A66C2, #0A66C2,#0A66C2,#0A66C2,#0A66C2,#0A66C2,#0A66C2,#0A66C2,white,white);
    }
    90% {
        transform: rotate(-30deg);
        background-image: linear-gradient(to top, #0A66C2, #0A66C2,#0A66C2,#0A66C2,#0A66C2,#0A66C2,#0A66C2,#0A66C2,#0A66C2,white);
    }
    100% {
        transform: rotate(-15deg);
        background-image: linear-gradient(to top, #0A66C2, #0A66C2,#0A66C2,#0A66C2,#0A66C2,#0A66C2,#0A66C2,#0A66C2,#0A66C2,#0A66C2);
    }
    
}

@keyframes gira{
    10% {
        transform: rotate(36deg);
    }
    20% {
        transform: rotate(72deg);
    }
    30% {
        transform: rotate(108deg);
    }
    40% {
        transform: rotate(144deg);
    }
    50% {
        transform: rotate(180deg);
    }
    60% {
        transform: rotate(216deg);
    }
    70% {
        transform: rotate(252deg);
    }
    80% {
        transform: rotate(288deg);
    }
    90% {
        transform: rotate(324deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}

.fa-linkedin{
    color: white;
}

.fa-github{
    color: white;
}

.fa-linkedin:hover{
    animation: balanca 0.3s ease-in;
    color: #0A66C2;
}

.fa-github:hover{
    animation: gira 0.2s ease-in;
    color: #24292E;
}


.passo-a-passo{
    margin: 30px 0;
    text-align: justify;
}

.passo-a-passo p, section:nth-of-type(6) p{
    color: white;
    margin: 20px 0;
}

.passo-a-passo a, section:nth-of-type(6) a{
    color: #00FFFF;
    text-decoration: none;
    font-style: italic;
}

.img-passo-python{
    margin: 20px;
    width: 100%;
    height: 75vh;
    background-size: 100% 100%;
}

.passo1{
    background-image: url('../fotos/passo1-python.jpg');
}
.passo2{
    background-image: url('../fotos/passo2-python.jpg');
}
.passo3{
    background-image: url('../fotos/passo3-python.jpg');
}
.passo4{
    background-image: url('../fotos/passo4-python.jpg');
}

footer{
    margin-top: 10vh;
    width: 100%;
    height: 9vh;
    background-color: #FF4500;
}

footer p{
    padding-top: calc(4.5vh - 8px);
    text-align: center;
}