.imagem_nome
img {
    width: 50%;
    height: auto;

    left: 50%;
    transform: translate(50%)
}

body{
    margin: 50px;
    padding: 10px;
    margin-right: 50px;
}
p {
    text-indent: 40px;
    margin-right: 50px;
}

h3 {
    font-style: italic;
    color: blue;
    text-decoration: underline;
}

.giovanny{
    color: black;
}

.mateus{
    color: black;
}

.bom_jogo{
    transform: translate(14%)
}
